<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.zqg.prision.dao.PrisionChiefMapper">
  <resultMap id="BaseResultMap" type="club.zqg.prision.domain.PrisionChief">
    <id column="chief_id" jdbcType="INTEGER" property="chiefId" />
    <result column="chief_name" jdbcType="VARCHAR" property="chiefName" />
    <result column="chief_rank_id" jdbcType="SMALLINT" property="chiefRankId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    chief_id, chief_name, chief_rank_id
  </sql>
  <select id="selectByExample" parameterType="club.zqg.prision.domain.PrisionChiefExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from prision_chief
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from prision_chief
    where chief_id = #{chiefId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from prision_chief
    where chief_id = #{chiefId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="club.zqg.prision.domain.PrisionChiefExample">
    delete from prision_chief
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="club.zqg.prision.domain.PrisionChief">
    insert into prision_chief (chief_id, chief_name, chief_rank_id
      )
    values (#{chiefId,jdbcType=INTEGER}, #{chiefName,jdbcType=VARCHAR}, #{chiefRankId,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="club.zqg.prision.domain.PrisionChief">
    insert into prision_chief
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="chiefId != null">
        chief_id,
      </if>
      <if test="chiefName != null">
        chief_name,
      </if>
      <if test="chiefRankId != null">
        chief_rank_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="chiefId != null">
        #{chiefId,jdbcType=INTEGER},
      </if>
      <if test="chiefName != null">
        #{chiefName,jdbcType=VARCHAR},
      </if>
      <if test="chiefRankId != null">
        #{chiefRankId,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="club.zqg.prision.domain.PrisionChiefExample" resultType="java.lang.Long">
    select count(*) from prision_chief
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update prision_chief
    <set>
      <if test="record.chiefId != null">
        chief_id = #{record.chiefId,jdbcType=INTEGER},
      </if>
      <if test="record.chiefName != null">
        chief_name = #{record.chiefName,jdbcType=VARCHAR},
      </if>
      <if test="record.chiefRankId != null">
        chief_rank_id = #{record.chiefRankId,jdbcType=SMALLINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update prision_chief
    set chief_id = #{record.chiefId,jdbcType=INTEGER},
      chief_name = #{record.chiefName,jdbcType=VARCHAR},
      chief_rank_id = #{record.chiefRankId,jdbcType=SMALLINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="club.zqg.prision.domain.PrisionChief">
    update prision_chief
    <set>
      <if test="chiefName != null">
        chief_name = #{chiefName,jdbcType=VARCHAR},
      </if>
      <if test="chiefRankId != null">
        chief_rank_id = #{chiefRankId,jdbcType=SMALLINT},
      </if>
    </set>
    where chief_id = #{chiefId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="club.zqg.prision.domain.PrisionChief">
    update prision_chief
    set chief_name = #{chiefName,jdbcType=VARCHAR},
      chief_rank_id = #{chiefRankId,jdbcType=SMALLINT}
    where chief_id = #{chiefId,jdbcType=INTEGER}
  </update>
</mapper>